body {
  background-color: lightblue;
  font-family: sans-serif;
  border-style: solid;
  background-size: contain;
}

h1 {
  text-align: center;
}


h3 {
  text-align: left;
  background-color: lightgray;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}

h4 {
  font-style: italic;
}

.movie {
  list-style-type: none;

}
.play-button {
  background-color: black;
  color: white;
}
.movie-name {
  padding-right: 20.0em;
}

.categories {
  background-color: white;
  float: right;
  list-style-type: none;
  justify-content: flex-start;
  text-align: left;
  border-style: solid;
  display: block;
  padding: 30px 25px 375px 25px;
  margin: -35px 15px -5px 25px;
  font-size: 20px;

}

#banner1 {
  border-style: solid;
}

#banner2 {
  border-style: solid;
}
#exit-button {
  float: right;
  background-color: black;
  color: white;
}

#logout-button {
  float: right;
  background-color: black;
  color: white;

}
